/************
GENERAL STYLE
 *********** */
/*General*/

:root{
    --col-light:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navbar */
.top-nav{
    background-color: var(--col-light);
    box-shadow: 0.5px 0.5px 10px 0.5px rgba(0, 0, 0, 0.3);
    width: 100%;
}

/*****************
MEDIA-QUERIES
*************** */

@media screen and (max-width: 992px)  {
    .navbar-brand{
        margin-left: 1rem !important;
    }
    .nav-internal-links{
        justify-content: start !important;
        margin-left: 1rem;
    }
    .navbar-toggler{
        margin-right: -1rem !important;
    }
}

/*****************
ABOUT US
*************** */
.about-img{
    height: 100px;
}

.col-col-3 {
    padding: 5px;
    margin: 10px;
    margin-top: 50px;
}

.col-col {
    /* background-color: aqua; */
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 50px;
}

/*.col-img{
    height: 300px;
    width: 300px;
}*/

.element {
    // Three columns to start
    @include row-cols(3);
  
    // Five columns from medium breakpoint up
    @include media-breakpoint-up(md) {
      @include row-cols(5);
    }
  }