<div class="row">
    <div class="col-6 ps-5 copy">&copy; Femtoring</div>
    <div class="col-6">
        <div class="d-flex justify-content-end footer-links">
            <a href="https://www.facebook.com/" aria-label="Facebook page" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/" aria-label="Instagram page" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.twitter.com/" aria-label="Twitter page" target="_blank">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://www.linkedin.com/" aria-label="Linkedin page" target="_blank">
                <i class="fa-brands fa-linkedin pe-5"></i>
            </a>
        </div>
    </div>
</div>