{% extends "base.html" %}
{% load static %}

{% block title %} Mentors {% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <h2 class="mt-3 bottom-bar">Mentors</h2>
        <div class="row text-center mx-auto card-container">
            {% for mentor in object_list %}
            <div class="card my-3" style="width: 18rem;">
                {% if "placeholder" in mentor.mentor_image.url %}
                <div class="d-flex justify-content-center">
                    <img class="mentor-profile-img" width="150" height="150"
                        src="https://res.cloudinary.com/dzdyzl4r5/image/upload/v1679168303/default-mentor_dm35yd.png"
                        alt="Face picture">
                </div>
                {% else %}
                <div class="d-flex justify-content-center">
                    <img class="mentor-profile-img" src=" {{ mentor.mentor_image.url }}" class="rounded-circle" alt="">
                </div>
                {% endif %} <div class="card-body">
                    <h5 class="card-title">{{ mentor.mentor_name }}</h5>
                    <p class="card-text">{{ mentor.mentor_expertise }}</p>
                    <p class="card-text">{{ mentor.mentor_years_of_experience }} years in business</p>
                    <a href="{% url 'mentor_profile_page' pk=mentor.pk %}"
                        class="action-btn">View profile</a>
                        <div class="row mt-2">
                            <a href="{% url 'booking_page' pk=mentor_profile.pk %}"
                        class="action-btn mx-auto">Book a session</a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
            <div class="row card-container">
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Pagination -->
<ul class="pagination justify-content-center mt-5">
    {% if page_obj.has_previous %}
    <li class="page-item m-1">
        <a href="?page=1" class="page-link directory-pag-a">First</a>
    </li>
    <li class="page-item m-1">
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link directory-pag-a">Previous</a>
    </li>
    {% else %}
    <li class="page-item m-1">
        <a href="#" class="page-link directory-pag-a">First</a>
    </li>
    <li class="page-item m-1">
        <a href="#" class="page-link directory-pag-a">Previous</a>
    </li>

    {% endif %}

    {% for i in page_obj.paginator.page_range %}
    {% if page_obj.number == i %}
    <li class="page-item m-1"><a href="#" class="page-link directory-pag-a">{{ i }}</a></li>
    {% else %}
    <li class="page-item m-1"><a class="page-link directory-pag-a" href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item m-1">
        <a href="?page={{ page_obj.next_page_number }}" class="page-link directory-pag-a">Next</a>
    </li>
    <li class="page-item m-1">
        <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link directory-pag-a">Last</a>
    </li>

    {% else %}
    <li class="page-item m-1">
        <a href="#" class="page-link directory-pag-a">Next</a>
    </li>
    <li class="page-item m-1">
        <a href="#" class="page-link directory-pag-a">Last</a>
    </li>

    {% endif %}
</ul>
{% endblock %}

