{% extends "base.html" %}
{% load static %}
{% block title %} Mentor Profile {% endblock %}
{% block content %}
<div class="container border mt-3 w-75" >

    {% if "placeholder" in mentor.mentor_image.url %}                            
    <img id="mentor-profile-img" class="rounded-circle" src=" {{ mentor.placeholder}} " alt="">                            
    {% else %}                            
    <img id="mentor-profile-img" src=" {{ mentor.mentor_image.url }}" class="rounded-circle" alt="">
    {% endif %}
</div>
{% endblock %}

