{% extends "base.html" %}
{% load static %}
{% block title %} Bad Request {% endblock %}
{% block content %}
<div class="container m-5 text-center">
    <h2>Bad Request</h2>
    <div>
        <img src="https://img.freepik.com/free-vector/400-error-bad-request-concept-illustration_114360-5530.jpg?w=740&t=st=1679249937~exp=1679250537~hmac=9ba087d40758f12ee08ac805c793ea4edb782cf2d4f9f7eb541cf1e3cefb6dd4" alt="Error 400 image">
        <a href="https://www.freepik.com/free-vector/400-error-bad-request-concept-illustration_13315296.htm#query=400&position=1&from_view=search&track=sph">Image by storyset</a> on Freepik
    </div>
    <a class="action-btn" href="{% url 'home_page' %}">Return Home</a>
</div>
{% endblock %}