{% extends "base.html" %}
{% load static %}
{% block title %} Forbidden {% endblock %}
{% block content %}
<div class="container m-5 text-center">
    <h2>Forbidden</h2>
    <div>
        <img src="https://img.freepik.com/free-vector/403-error-forbidden-with-police-concept-illustration_114360-1923.jpg?w=826&t=st=1679250119~exp=1679250719~hmac=d33df6ce1c8ae3c67a4f0c4878fff4452fd926cba44e913edc3f6d897e72a670" alt="Error 403 image">
        <a href="https://www.freepik.com/free-vector/403-error-forbidden-with-police-concept-illustration_7967796.htm#query=403&position=0&from_view=search&track=sph">Image by storyset</a> on Freepik
    </div>
    <a class="action-btn" href="{% url 'home_page' %}">Return Home</a>
</div>
{% endblock %}