{% extends "base.html" %}
{% load static %}
{% block title %} Page Not Found {% endblock %}
{% block content %}
<div class="container m-5 text-center">
    <h2>Page Not Found</h2>
    <div>
        <img src="https://img.freepik.com/free-vector/error-404-concept-illustration_114360-1811.jpg?w=826&t=st=1679249700~exp=1679250300~hmac=b1ea9b92eedf0d082c2f3a3ffcc0cfdabf4a053e7b204734aa2aeddaaf417fa2" alt="Error 404 image">
        <a href="https://www.freepik.com/free-vector/error-404-concept-illustration_7741849.htm#query=404&position=3&from_view=search&track=sph">Image by storyset</a> on Freepik
    </div>
    <a class="action-btn" href="{% url 'home_page' %}">Return Home</a>
</div>
{% endblock %}