{% extends "base.html" %}
{% load static %}
{% block title %} Internal Server Error {% endblock %}
{% block content %}
<div class="container m-5 text-center">
    <h2>Server Error</h2>
    <div>
        <img src="https://img.freepik.com/free-vector/500-internal-server-error-concept-illustration_114360-5572.jpg?w=740&t=st=1679250333~exp=1679250933~hmac=7a9be21e06334ae889c4329f179a8cef20c08a9431f3f1cde92f7d2ae9c5e901" alt="Error 500 image">
        <a class="text-decoration-none f-text-main" href="https://www.freepik.com/free-vector/500-internal-server-error-concept-illustration_13416109.htm#query=500&position=0&from_view=search&track=sph">Image by storyset</a> on Freepik
    </div>
    <a class="action-btn" href="{% url 'home_page' %}">Return Home</a>
</div>
{% endblock %}